*{
  margin: 0;
  padding: 0;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 6.5em;
  width: 232px;
}

/* Кнопка выпадающего меню при наведении и фокусировке */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #3e8e41;
}

.dropbtn > img {
  width: 25px;
  transition: all 0.2s linear;
}

/* Поле поиска */
#myInput {
  box-sizing: border-box;
  background-image: url("searchicon.png");
  background-size: 20px;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 230px;
}

/* Поле поиска, когда он получает фокус/нажал на */
#myInput:focus {
  outline: 3px solid #ddd;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 2px;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Показать выпадающее меню (используйте JS, чтобы добавить этот класс в .dropdown-content содержимого, когда пользователь нажимает на кнопку выпадающего списка) */
.show {
  display: block;
}

.drop-list {
  max-height: 500px;
  overflow-y: auto;
}

.selected {
  background: rgb(36, 54, 253);
}

/* фильтр блок */
.filter-block {
  border: 2px solid grey;
}

.filter {
  font-size: 23px;
  background-image: linear-gradient(to bottom, white, #5fbdf7);
  display: flex;
  align-items: center;
}

.filter > img{
  width: 20px;
  cursor: pointer;
  margin: 10px 10px;
}

.filter-block-content {
  visibility: hidden;
  height: 0px;
  opacity: 0;
  border-top: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.filter-block-content.open{
  visibility: visible;
  height: auto;
  opacity: 1;
}
.filter-block-inputs {
  width: 32%;
  margin-top: 15px;
}

.inputs-date-options {
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
}

.date-inputs {
  margin-bottom: 13px;
}

.labels label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.inputs__wrapper {
  margin-top: 20px;
}

.inputs__wrapper > #first-datePicker {
  margin-right: 20px;
}

.inputs__wrapper > input{
  width: 155px;
  height: 30px; 
  border-radius: 7px;
}

.dropdown__wrapper {
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  grid-gap: 1em;
}

.dropdown__wrapper > label {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
}

.buttons__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.buttons__wrapper > button {
  border: none;
  cursor: pointer;
  background-color: white;
}
